.highlight-border {
  border-width: 6px;
  border-color: #3584e4; /* #62a0ea; */
  border-style: solid;
  border-radius: 12px;
  transition-property: border-color; 
  transition-timing-function: ease-out; 
  transition-duration: 1.7s;
}

.highlight-border.fade {
	border-color: transparent;
}

